[Unit]
Description=Dockercan network plugin
Before=docker.service
After=network.target
Requires=docker.service

[Service]
User=root
ExecStart=/usr/lib/docker/dockercan -addr 127.0.0.1:5555

[Install]
WantedBy=multi-user.target